<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>SIMS Inventory</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div>
      <a href="#" th:href="@{/swine}">Swine</a><br/>
      <a href="#" th:href="@{/food}">Food</a><br/>
      <a href="#" th:href="@{/medicine}">Medicine</a>
    </div>
</div>

</body>
</html>